# Use `trace` to get verbose logging or `info` to show less, `debug` for more
LOG_LEVEL=trace
PORT=3009

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=
# The ID of your GitHub App
APP_ID=
PRIVATE_KEY=
WEBHOOK_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
